<ion-header>
  <ion-navbar color="primary">
             <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
</button>
    <ion-title >
      {{"menu.home" | translate}}
      MJN
      </ion-title>
      
        <img class="logo" src="assets/img/logo_blanco.png" width="48px">

  </ion-navbar>
   <!--<img class="cabecera fotocabecera" [src]="gallery">-->
</ion-header>

<ion-content padding>
  <div *ngIf="error=='ERROR'">
      <ion-item text-wrap color="alert">
          ERROR ADMINISTRATIVO CONSULTE AL ADMINISTRADOR.
        </ion-item>
  </div>
  <page-diario *ngIf="error==null"></page-diario>
</ion-content>
